@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  min-height: 200vh;
}

.outer-container {
  border: 3px dashed #000;
  width: 75vw;
  height: 85vh;
  margin: 40px auto;
  position: relative; /* establishes a new positioning context for absolute children */
}

.inner-container {
  border: 2px solid #00f;
  width: 40vw;
  height: 50vh;
  margin: 200px auto;
  /* position: relative; */
}

.box {
  width: 150px;
  height: 150px;
  color: #fff;
  padding: 1rem;
}

.absolute {
    background-color: blue;
    position: absolute; /* needs a relative parent */
    top: 0; /* picks ancestor closest to it */
    left: 0;
    /* left: -10000px; can do this if you need something to not display but still be on page */
    z-index: 1;
}

.relative {
    background-color: red;
    position: relative;
    top: 300px;
    left: 100px;
}

.fixed { /* stays in fixed position despite where you scroll */
    background-color: green;
    position: fixed;
    top: 100px;
}

.sticky { /* sticks to a position once you scroll past it */
    background-color: black;
    position: sticky;
    top: 0;
}

html {
    scroll-behavior: smooth;
}

section {
    height: 100vh;
}

.blue {
    background-color: lightblue;
}

.red {
    background-color: lightcoral;
}

.green {
    background-color: lightgreen;
}

header, footer {
    color: white;
    text-align: center;
    height: 100px;

}

header {
    position: sticky;
    top: 0;
    font-size: 5rem;
}

footer {
    background-color: black;
    position: sticky;
    bottom: 0;
    font-size: 2rem;

}

a:visited {
    color: white;
}

.social {
    background-color: royalblue;
    color: white;
    font-size: inherit;
    padding: 1rem;
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 1;
}